<h1>Ruta protegida</h1>

<div id="app">
    Loading data
</div>

<div>
    <a href="/perfil">Editar perfil</a>
</div>

<script>
    const app = document.getElementById("app");

    const pintarDatos = (data) => {
        data.forEach((item) => {
            app.innerHTML += `
            <div class="alert alert-primary">
                ${item.nombre} - ${item.email} 
            </div>
            `;
        });
    };

    window.document.addEventListener("DOMContentLoaded", async () => {
        if (!localStorage.getItem("token")) {
            window.location.href = "/login";
        }
        const res = await fetch("/api/v1/users", {
            headers: {
                authorization: `Bearer ${localStorage.getItem("token")}`,
            },
        });
        const data = await res.json();
        console.log(data);
        if (!data.ok) {
            window.location.href = "/login";
        }
        pintarDatos(data.users);
    });

</script>